body {
  background-color:#800080;
  height: 10vh;
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif;
}

.Title {
  text-align: center;
  color: white;
}

h3 {
  color: white;
}

.PomodoroTimer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 90%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 5% auto; /* Center the timer horizontally, with 5% margin on top and bottom */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="number"] {
  width: 100%; /* Make the input full width */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.Button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
  background: #27ae60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Button:hover {
  background: #1f9945;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Make the timer full width */
  max-width: 400px;
  margin: 20px auto; /* Center the timer horizontally */
}

.time-display {
  font-size: 36px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.progress {
  width: 100%;
  height: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background: #27ae60;
  border-radius: 5px;
  position: absolute;
}

.arc-progress {
  width: 80%;
  height: 100%;
  background: #e74c3c;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: left;
  position: absolute;
  z-index: -1;
}

.phrase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background: #333;
}

.phrase-text {
  width: 90%; /* Adjusted width for responsiveness */
  margin: 5% auto; /* Center the text horizontally with 5% margin on top and bottom */
  color: white;
  font-size: 24px;
  animation: fadeOut 20s 100s ease-in-out forwards, fadeIn 2s 120s ease-in-out forwards;
  text-align: center;
}

.linkcontainer {
  text-align: center;
  margin-top: 20px;
}

.linkbuttons {
  background-color: #27ae60;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  outline: none;
}

.linkbuttons:hover {
  background-color: #1f9945;
  transform: scale(1.05);
}

.linkbuttons:active {
  background-color: #1f9945;
  transform: scale(0.95);
}

@media only screen and (max-width: 768px) {
  .PomodoroTimer {
    width: 80%;
    margin: 5% auto;
    padding: 9px; /* Adjusted padding for smaller screens */
  }
  
  input[type="number"] {
    width: 70%; /* Adjusted width for smaller screens */
  }

  .Button {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .time-display {
    font-size: 22px; /* Adjusted font size for smaller screens */
  }

  .phrase-text {
    font-size: 16px; /* Adjusted font size for smaller screens */
  }
}

/* Media Query for even smaller screens, like phones */
@media only screen and (max-width: 480px) {
  .Title {
    font-size: 22px; /* Adjusted font size for smaller screens */
  }
  
  h3 {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .PomodoroTimer {
    padding: 8px; /* Adjusted padding for smaller screens */
  }

  input[type="number"] {
    width: 70%; /* Make the input full width on smaller screens */
  }

  .Button {
    font-size: 12px; /* Adjusted font size for smaller screens */
  }

  .time-display {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }

  .phrase-text {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .linkbuttons {
    font-size: 12px; /* Adjusted font size for smaller screens */
    padding: 8px 18px; /* Adjusted padding for smaller screens */
  }
}